# Local .terraform directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# TFVars files
*.tfvars

# Override files (ignored by default)
override.tf
override.tf.json

# Plugin binary files
.terraform/plugins/

# Terraform plan files
*.tfplan

# IDE and Editor specific files
*.swp
*.swo
.idea/
.vscode/

